<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:layout name="Default" />

<f:section name="content">
    <h1>Aktivität bearbeiten</h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form action="update" name="activity" object="{activity}" >
    <f:render partial="Activity/FormFields" arguments="{activity:activity}" />
    <f:form.submit class="form-action__button" value="Speichern" />
    </f:form>
    <f:link.action action="list">
        <f:form.button class="form-action__button">Abbrechen</f:form.button>
    </f:link.action>
</f:section>
</html>
