<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Default" />

<f:section name="content">

    <f:flashMessages />
    <f:render partial="FormErrors" />

    <f:variable name="currentDate" value="" />
    <f:variable name="iterator" value="0" />

    <div class="generate__window">
        <h3>
            Generierter Nachweis für Kalenderwoche: 
            <strong>{date -> f:format.date(format: 'W')}</strong>, 
            Jahr: 
            <strong>{date -> f:format.date(format: 'Y')}</strong>
        </h3>

        <textarea class="activity-row">
            <f:for each="{activities}" as="activity">
                <f:if condition="{currentDate} != {activity.date}">
                    <f:if condition="{iterator} != 0">
-----------------------------------------------------
                    </f:if>
{activity.date -> f:format.date(format: 'd.m.Y')}
                    <f:variable name="currentDate" value="{activity.date}" />
                    <f:variable name="iterator" value="1" />
                </f:if>
        - Aktivität: {activity.designation}
        - Beschreibung: {activity.description}
                <f:if condition="{activity.category}">
        - Kategorie: {activity.category}
                </f:if>
            </f:for>
        </textarea>
    </div>

    <f:link.action action="list" arguments="{date: '{date -> f:format.date(format: \'Y-m-d\')}'}">
        <f:form.button class="form-action__button">Zurück zur Übersicht</f:form.button>
    </f:link.action>

</f:section>
</html>