<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Default" />

<f:section name="content">

    <f:flashMessages />

    <f:form action="list" name="datePickerValue" method="POST">
        <f:form.textfield class="date-picker__select" name="datePickerValue" type="date" value="{activity.date -> f:format.date(format: 'Y-m-d')}" />
        <f:form.submit class="form-action__button" value="Nach Datum filtern" />
    </f:form>

    <table class="tx_generator">
        <tr>
            <th>Datum</th>
            <th>Bezeichnung</th>
            <th>Beschreibung</th>
            <th>Kategorie</th>
            <th>Optionen</th>
        </tr>
        <f:for each="{activities}" as="activity">
            <tr>
                <td>{activity.date -> f:format.date(format: 'd.m.Y')}</td>
                <td>{activity.designation}</td>
                <td>{activity.description}</td>
                <td>{activity.category}</td>
                <td>
                    <f:link.action action="show" arguments="{activity : activity}"> Anzeigen </f:link.action>
                    <f:link.action action="edit" arguments="{activity : activity}"> Bearbeiten </f:link.action>
                    <f:link.action action="delete" arguments="{activity : activity}"> Löschen </f:link.action>
                </td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">
        <f:form.button class="form-action__button">Aktivität hinzufügen</f:form.button>
    </f:link.action>
</f:section>
</html>